<%= render Market.BreadcrumbleView, "breadcrumb.html", breadcrumb_trails: @breadcrumb_trails, breadcrumb: @breadcrumb %>
<div align="right">
<%= link Gettext.gettext(Market.Gettext, "new user"), to: user_path(@conn, :new), class: "btn btn-primary btn-xs" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th><%= Gettext.gettext(Market.Gettext, "name") %></th>
      <th><%= Gettext.gettext(Market.Gettext, "username") %></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.username %></td>

      <td class="text-right">
        <%= link "Show", to: user_path(@conn, :show, user), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: user_path(@conn, :edit, user), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>


