<% Gettext.put_locale Market.Gettext, "es" %>

<h2><%= Gettext.gettext(Market.Gettext, "new_user") %></h2>

<%= link "Back", to: user_path(@conn, :index) %>

<%= render "form.html", changeset: @changeset, action: user_path(@conn, :create) %>

